<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Event and Data Binding</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Event and Data Binding</h1>
    </header>
    <section id="events">
      <div class="card">
        <h2>Buttons v-on:click</h2>
        <button v-on:click="add(10)" class="mr-1">Add 10</button>
        <button v-on:click="reduce(5)">Subtract 5</button>
        <p v-once>Start from: {{counter}}</p>
        <p>Result</p>
        <p class="caption">Counter is watched not greater than 50</p>
        <p class="background">{{ counter }}</p>
      </div>
      <!-- <input type="text" v-bind:value="name" v-on:input="setName($event, 'chen')" /> -->
      <!-- v-model: two way binding -->
      <div class="card">
        <h2>Input v-model</h2>
        <input type="text" v-model="name" />
        <p>Input value</p>
        <p class="background">{{ name }}</p>
        <button v-on:click="resetInput" class="w-100">Reset Input</button>
      </div>
      <div class="card">
        <h2>Computed Caching</h2>
        <label>First Name</label>
        <input type="text" v-model="name" />
        <label>Last Name</label>
        <input type="text" v-model="lastName" />
        <p>Full Name</p>
        <p class="background">{{ fullname }}</p>
        <button v-on:click="resetInput" class="w-100">Reset first name</button>
      </div>
      <div class="card">
        <h2>Submit prevent default</h2>
        <form v-on:submit.prevent="submit">
          <label>Name</label>
          <input type="text" v-model="name" />
          <p class="caption">Open the console window, to see the console.log after submitted.</p>
          <button class="w-100">Sign Up</button>
        </form>
      </div>
    </section>
  </body>
</html>
